# Docker
.DS_Store
*.swp
*.swo
.env
.env.*
!.env.example
.docker/*

# Node (if applicable)
node_modules/
npm-debug.log

# Logs
logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local
